table.confluenceTable {
  margin-top: 12px;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #DFE1E6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

thead,
tbody,
tfoot {
  border-bottom: 2px solid #DFE1E6;
}

table.confluenceTable th.confluenceTh {
  background-color: #FAFBFC;
  height: 40px;
  vertical-align: middle;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: normal;
  color: #42526E;
}

table.confluenceTable th.confluenceTh,
table.confluenceTable td.confluenceTd {
  padding: 10px;
  border-style: solid;
  border-color: #DFE1E6;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-width: 0;
  border-left-width: 0;
}

 table.confluenceTable th.confluenceTh,  table.confluenceTable td.confluenceTd {
  padding: 10px;
  border-style: solid;
  border-color: #DFE1E6;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-width: 0;
  border-left-width: 0;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #fff;
  border: none;
  border-radius: 0px;
}