html,
body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.full-height {
  height: 89.4vh;
  display: flex;
}

.mid-body {
  overflow-y: auto
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #027AD7;
  border: none
}

.navbar-inverse .navbar-nav>li>a {
  color: #BCE0FD
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #024EC0
}

.navbar-inverse .navbar-brand {
  color: #FFEA05;
}


img {
  width: 100%;
}


/* Set gray background color and 100% height */

.sidenav {
  background-color: #F4F0F0;
  height: 100%;
  text-align: left
}

.sidenav.left-side {
  background-color: #F4F0F0;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.sidenav.left-side p {
  margin-bottom: 0
}

.sidenav.left-side p a {
  padding: 5px 20px;
  border-bottom: 1px solid #2F4052;
  color: #232323;
  display: block;
  text-decoration: none
}

.sidenav.left-side p a.active,
.sidenav.left-side p a:hover {
  background-color: #2F4052;
  color: #fff;

}

.sidenav .well {
  background-color: #fff;
  border-radius: 0;
  /* box-shadow: 2px 2px 2px rgba(0, 0, 0, .05) */
}

.sidenav h3 {
  color: #024EC0;
  margin: 0;
  padding: 15px 0 15px 20px;
  font-weight: bold;
  font-size: 16px;
}

h1,
h2,
h3 {
  color: #2F4052
}

/* Set black background color, white text and some padding */
footer {
  background-color: #2F4052;
  color: white;
  padding: 15px;
}


/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .full-height {
    height: auto;
    display: block;
  }

  .sidenav.left-side {
    padding-top: 0
  }
}

@media screen and (min-width: 768px) and (max-width: 791px) {

  .sidenav {
    height: auto;
    padding: 15px;
  }

  .full-height {
    height: 100vh;
    display: block;
  }

  .sidenav.left-side {
    padding-top: 0;
    height: 100vh;
    position: fixed;
    top: 52px;
    z-index: -1;
  }

  .mid-body {
    float: right;
    height: 100%;
  }

  .navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
  }



}