html,
body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}


.full-height {
  height: 89.4vh;
  display: flex;
}

.mid-body {
  overflow-y: auto
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #2F4052
}


img {
  width: 100%;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 450px
}

/* Set gray background color and 100% height */

.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
  text-align: left
}

.sidenav.left-side {
  background-color: #c8c8c8;
  padding-left: 0;
  padding-right: 0;
}

.sidenav.left-side p {
  margin-bottom: 0
}

.sidenav.left-side p a {
  padding: 5px 20px;
  border-bottom: 1px solid #2F4052;
  color: #232323;
  display: block;
  text-decoration: none
}

.sidenav.left-side p a.active,
.sidenav.left-side p a:hover {
  background-color: #2F4052;
  color: #fff;

}

.sidenav .well {
  background-color: #fff;
  border-radius: 0;
  /* box-shadow: 2px 2px 2px rgba(0, 0, 0, .05) */
}

h1,
h2,
h3 {
  color: #2F4052
}

/* Set black background color, white text and some padding */
footer {
  background-color: #2F4052;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .row.content {
    height: auto;
  }
}



/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}